body {
    background: #0B323D;
}

#game {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/game_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#left {
    position: relative;
    float: left;
    height: 100%;
    width: 59%;
}

#left .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #00ff00;
    text-shadow: 0 0 20px rgba(0,255,0,0.5);
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 3em;
}

#left .stats {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 15px 75px 60px;
    text-align: center;
    color: #00ff00;
    text-shadow: 0 0 20px rgba(0,255,0,0.5);
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

#left .octopus-wrapper {
    max-width: 50%;
    margin: 100px auto 0;
}

#octopus {
    cursor: pointer;
    background-image: url(../img/octopus.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
}

#right {
    position: relative;
    float: right;
    height: 100%;
    width: 41%;
}

#right .upgrades {
    padding: 35px 40px 15px 45px;
    text-align: center;
    height: 30%;
    overflow-x: hidden;
    overflow-y: auto;
}

#right .items {
    padding: 60px 40px 45px 45px;
    text-align: center;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
}

#right [data-toggle=tooltip].disabled {
    pointer-events: auto;
}

#game .frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}